
.section {
    display: flex;
    height: fit-content;
    padding: 1.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.containerTitle {
    width: fit-content;
    border-bottom: 1px solid #000;
}

.title {
    color: #007ACC;
    width: fit-content;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-clip: text;
    -webkit-background-clip: text;

}

.containerText {
    max-width: 111.2rem;
    width: 100%;

    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.text {
    font-weight: 300;
    font-size: 1.6rem;
    text-align: justify;
}