.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.containerSvgs {
    display: flex;
    max-width: 50rem;
    width: 100%;
    padding: 1rem 0.5rem;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}