
.section {
    display: flex;
    padding: 1.6rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;

    background: rgba(77, 183, 254, 0.2);
}

.containerTitle {
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #000;
}

.title {
    color: #007ACC;
    width: fit-content;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-clip: text;
    -webkit-background-clip: text;
}

.text {
    width: 100%;
    text-align: center;
}